<pkg:package xmlns:pkg="http://marklogic.com/package">
  <package-xdbc-server xmlns="http://marklogic.com/package/servers">
    <metadata>
      <package-version>1.0</package-version>
      <user>admin</user>
      <group>Default</group>
      <host>hp6910-772b.marklogic.com</host>
      <timestamp>2012-01-19T16:00:23.961Z</timestamp>
      <platform>winnt</platform>
    </metadata>
    <server-type>xdbc-server</server-type>
    <group-name>Default</group-name>
    <name>8004-GRASP-XDBC</name>
    <package-xdbc-properties>
      <enabled>true</enabled>
      <root>C:\Users\pfennell\Projects\SemanticWeb\grasp\src</root>
      <port>8004</port>
      <display-last-login>false</display-last-login>
      <address>0.0.0.0</address>
      <backlog>256</backlog>
      <threads>32</threads>
      <request-timeout>30</request-timeout>
      <keep-alive-timeout>5</keep-alive-timeout>
      <session-timeout>3600</session-timeout>
      <max-time-limit>3600</max-time-limit>
      <default-time-limit>600</default-time-limit>
      <pre-commit-trigger-depth>1000</pre-commit-trigger-depth>
      <pre-commit-trigger-limit>10000</pre-commit-trigger-limit>
      <collation>http://marklogic.com/collation/</collation>
      <authentication>digest</authentication>
      <concurrent-request-limit>0</concurrent-request-limit>
      <log-errors>true</log-errors>
      <debug-allow>true</debug-allow>
      <profile-allow>true</profile-allow>
      <default-xquery-version>1.0-ml</default-xquery-version>
      <multi-version-concurrency-control>contemporaneous</multi-version-concurrency-control>
      <output-sgml-character-entities>none</output-sgml-character-entities>
      <output-encoding>UTF-8</output-encoding>
      <output-method>default</output-method>
      <output-byte-order-mark>default</output-byte-order-mark>
      <output-cdata-section-namespace-uri/>
      <output-cdata-section-localname/>
      <output-doctype-public/>
      <output-doctype-system/>
      <output-escape-uri-attributes>default</output-escape-uri-attributes>
      <output-include-content-type>default</output-include-content-type>
      <output-indent>default</output-indent>
      <output-indent-untyped>default</output-indent-untyped>
      <output-media-type/>
      <output-normalization-form>none</output-normalization-form>
      <output-omit-xml-declaration>default</output-omit-xml-declaration>
      <output-standalone>omit</output-standalone>
      <output-undeclare-prefixes>default</output-undeclare-prefixes>
      <output-version/>
      <output-include-default-attributes>default</output-include-default-attributes>
      <schemas/>
      <namespaces/>
      <request-blackouts/>
      <ssl-certificate-template>0</ssl-certificate-template>
      <ssl-allow-sslv3>true</ssl-allow-sslv3>
      <ssl-allow-tls>true</ssl-allow-tls>
      <ssl-hostname/>
      <ssl-ciphers>ALL:!LOW:@STRENGTH</ssl-ciphers>
      <ssl-require-client-certificate>true</ssl-require-client-certificate>
      <ssl-client-certificate-authorities/>
    </package-xdbc-properties>
    <links>
      <group-name>Default</group-name>
      <database>Documents</database>
    </links>
  </package-xdbc-server>
</pkg:package>
